.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 30px;


  background: rgba(30, 41, 59, 0.6); /* semi-transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}


.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}


.navbar-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #3b82f6;
  transition: 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-links a:hover {
  color: white;
}


.navbar-links .active {
  color: white;
  font-weight: 600;
}

/* 🔥 LOGOUT BUTTON */
.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}